.imagemCadastro {
    position: absolute;
    border-radius: 00px 0px 400px 0px;
    bottom: -15px;
    display: flex;
    width: 40%;
}

.containerCadastro .card {
    display: flex;

    justify-content: end;
}

.cardCadastro {
    display: flex;
    justify-content: end;
}

.formularioCadastro {
    display: flex;
    flex-direction: column;
    justify-self: center;
    position: relative;
    right: 200px;
}
.containerCadastro{
    background-image: radial-gradient(circle at 0 120%, #70a4be,transparent 42%),radial-gradient(circle at 0 120%, yellow,transparent 60%);
    height: 100%;
    
}
.containerCadastro .texto h2{
    animation: mudarCor2 5s infinite;

}
