* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    color: white;

}

.home {
    background-color: #1b0b39;
    background-image: radial-gradient(circle at left bottom  , #f3885b 1% , transparent 35%),radial-gradient(circle at left bottom  , #f4d454 1% , transparent 7%);
    background-repeat: no-repeat;
    height: auto;

}

.header {
    display: flex;
    
    height: 15vh;
    
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

}

.header .container {
   
    font-size: 4vh;


}

.container span {
    margin: 10px;
    color: white;

}

.header .logo {
    display: flex;
    align-items: center;
    justify-content: start;
    opacity: none;
    color: white;
}

.header img {
    width: 9%;
    margin-right: 10px;

}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.paginaInicial .container {
    height: 800px;

}


.texto .titulo {
    font-size: 54px;
    position: relative;
    bottom: 40px;

    animation: mudarCor 3s infinite;
    /* Aplicando a animação mudarCor */
}

@keyframes mudarCor {

    0% {
        color: #f3885b;

    }

    50% {
        color: #f4d454;

    }

    100% {
        color: #ec465c;

    }
}
.texto .subTitulo{
    font-size: 37px;
    
}

.paginaInicial .banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.paginaInicial .banner .imagem {
    position: relative;
    top: 50px;
    
}
