.imagemCadastro {
    position: absolute;
    border-radius: 00px 0px 400px 0px;
    bottom: 0px;
    display: flex;
    width: 40%;

}

.containerCadastro .card {
    display: flex;
    height: 160px;
    justify-content: end;
}

.cardCadastro {
    display: flex;
    justify-content: end;
    
}

.formularioCadastro {
    display: flex;
    flex-direction: column;
    justify-self: center;
    position: relative;
    right: 200px;
}

.containerCadastro {
    background-image: radial-gradient(circle at 0 120%, #70a4be, transparent 42%), radial-gradient(circle at 0 120%, yellow, transparent 58%);
    /* position: absolute; */
    height: 100vh;
    width: 100vw;

}

.containerCadastro .texto h2 {
    animation: mudarCor2 5s infinite;

}

.loading-div {
    width: 25px;
    display: none;
}

.loading-div img {
    height: 25px;
    width: 25px;
}

.loading-div {
    width: 25px;
    margin: auto;
    display: none;
}

.loading-div img {
    height: 25px;
    width: 25px;
}
/* .alerta_erro{
    /* display: flex; */
    /* justify-content: flex-end; */
  /* }  */
  
  .card_erro {
    display: none;
    background-color: wheat;
    color: black;
    width: 230px;
    border-radius: 4px;
    border: #f3885b 3px solid;
    
    padding: 10px;
    margin-right: 10%;
    position: relative;
    right: 220px;
    /* s */
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
    color: black;
    
  }

