* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.quiz .container {
    width: 30%;
    height: 70vh;
    background-color: #1b0b39;
    display: flex;
    align-items: center;
    border: 2px solid #f3885b;
    border-radius: 16px;
    padding: 16px;
    box-shadow: #f3885b 0 0 300px 40px;
    flex-direction: column;
    justify-content: space-around;
   
    
}

.quiz {
    justify-content: space-around;
    display: flex;
    align-items: center;
    height: 600px;
    flex-direction: column;

}

.div_resposta {
    display: flex;


}

.pergunta {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    justify-content: space-evenly;
}

.questao {
    font-size: 24px;
    font-weight: bold;
    text-align: center;

}

#div_resposta {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.alternativa {
    /* background-color: #6e38cd; */
    background-image: linear-gradient(to left, #ffee32, #6e38cd 40%);
    /* : none; */
    color: white;
    font-size: 16px;
    border: 0;
    border-radius: 6px;
    height: 48px;
    transition: filter 0.5s;

}

.alternativa:hover {
    filter: brightness(0.8);
}

#desafio {
    display: none;
}

.startdesafio {
    background-color: #6931c9;
    color: white;
    font-size: 16px;
    width: 100px;
    border-radius: 6px;
    height: 28px;
    transition: filter 0.5s;
    border: 0;
    box-shadow: #6931c9 0 0 100px 50px;
    
}

.startdesafio:hover {
    filter: brightness(0.8);
    transform: scale(1.4);
    
}

#botaoDesafio {
    display: none;
}

.proximaPergunta {
    background-color: #642fc0;
    color: white;
    font-size: 16px;
    width: 180px;
    border-radius: 6px;
    height: 28px;
    transition: filter 0.5s;
    border: 0;
    box-shadow: #6931c9 0 0 20px 10px;

}

.proximaPergunta:hover {
    filter: brightness(0.8);
}

.correct {
    background-image: none;
    background-color: green;
    cursor: not-allowed;
}

.incorrect {
    background-image: none;
    background-color: red;
    cursor: not-allowed;
}

.correct:not(:disabled):hover {
    transform: scale(1.1);
}

.incorrect:not(:disabled):hover {
    transform: scale(1.1);
}

#questao {
    font-size: 20px;
}

#tipoOuvinte {
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.imgOuvinte{
    width: 50%;
}

#fraseDevoto {
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

#fraseVisitante {
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

#fraseEspecialista {
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

#fraseNomade {
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}
#pontuacao{
    display: flex;
    
   
}
.subtituloQuiz{
    animation: mudarCor 3s infinite;
    justify-content: start;
}
#linkRank{
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: #ffee32; */
    border-radius:20px 2px 20px 2px;
    align-items: center;
    
}
#linkRank:hover{
    transition: 1s;
    transform: scale(1.5);
    border:2px #ffee32 solid ;

}
.imagemTrofeu {
    width: 40px;
}
.divRank{
    width: 100%;
    align-items: center;
    justify-content: center;
    align-self: center;
    display: flex;
    flex-direction: column;
}

