.redes img {
    width: 30px;
}
/* body{
} */

.bodyLogin {
    height: 100vh;
    background-color: #1b0b39;
   
    background-image:
        radial-gradient(circle 5000px at 0 8%, #1b0b39, transparent 50%), radial-gradient(circle at center bottom, #f4d454, transparent 60%), radial-gradient(circle at right top, #f4d454 1%, transparent 15%);
    background-repeat: no-repeat;
    background-size: 100%;
    

}


.card {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 180px;
}

.card .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
}

.card .texto h2 {
    font-size: 30px;

}

.card .texto .frase {
    font-size: 24px;
    animation: mudarCor2 5s infinite;
}

@keyframes mudarCor2 {
    0% {
        color: #f3885b;
    }

    25% {
        color: #f4d454;
    }

    50% {
        color: #ec465c;
    }

    75% {
        color: #f4b254;
    }

    100% {
        color: #f35f5c;
    }
}

.cardLogin {

    display: flex;
    justify-content: end;

}

.input {
    border-radius: 12px;
    width: 330px;
    height: 40px;
    background-color: transparent;
    color: white;
    border-bottom: 3px solid #f35f5c;
    border-top: 3px solid black;
    padding: 15px;
}

.imagemLogin {
    position: absolute;
    bottom: 0px;
    display: flex;

    width: 43%;
    height: 700px;
    border-radius: 0px 300px;

}

.login {

    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 85%;
    align-items: start;


}

.botao {
    width: 100px;
    height: 35px;
    align-self: center;
    cursor: pointer;
    background-color: transparent;
    border-radius: 20px;
    color:#f3885b ;
    border: 1px solid #f35f5c  ;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes {
    display: flex;
    width: 150px;
    justify-content: space-around;
    
    
}