* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    color: white;
    box-sizing: border-box;
    padding: 0%;


}

body {
    /* background-image: radial-gradient(circle at left bottom   , #f3885b 1% , transparent 35%),radial-gradient(circle at left bottom  , #f4d454 1% , transparent 3%); */
    background-color: #1b0b39;
    background-repeat: no-repeat;
    height: 100vh;
}

.header {
    display: flex;
    height: 15vh;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

}

.header .container {

    font-size: 4vh;


}

.container span {
    margin: 10px;
    color: white;

}

.header .logo {
    display: flex;
    align-items: center;
    justify-content: start;
    opacity: none;
    color: white;
}

.header img {
    width: 11%;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    transition: 1s;
    box-shadow: #ec465c 0 0 8px 8px;
    transform: scale(1.8);
    background-color: #1b0b39;
    border-radius: 30px 2px 30px 2px;
    border: 0;
    padding: 5px;
}


.paginaInicial .container {
    height: 800px;

}

.texto .titulo {
    font-size: 54px;
    position: relative;
    bottom: 40px;

    animation: mudarCor 3s infinite;
    /* Aplicando a animação mudarCor  */
}

@keyframes mudarCor {

    0% {
        color: #f3885b;

    }

    50% {
        color: #f4d454;

    }

    100% {
        color: #ec465c;

    }
}

.texto .subTitulo {
    font-size: 37px;

}

.paginaInicial .banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

.paginaInicial .banner .imagem {
    position: relative;
    top: 50px;


}

#recomendada {
    display: flex;
    /* border: 2px solid wheat; */
    width: 50%;
    font-size: 20px;
    height: 100px;
    text-align: center;
    border-radius: 16px;
    justify-content: center;
}


@keyframes mudarCorRecomendacao {
    12.5% {
        box-shadow: #6e38cd 0 0 500px 100px;
        /* background-color: #6e38cd; */

    }

    25% {
        box-shadow: yellow 0 25px 500px 50px;
        /* background-color: yellow; */

    }

    37.5% {
        box-shadow: #ec465c 0 50px 500px 50px;
        /* background-color: #ec465c; */

    }

    50% {
        box-shadow: #b14313 0 25px 500px 50px;
        /* background-color: #b14313; */

    }

    62.5% {
        box-shadow: red 0 0 500px 50px;
        /* background-color: red; */

    }

    75% {
        box-shadow: orangered 0 -25px 500px 50px;
        /* background-color: orangered; */

    }

    87.5% {
        box-shadow: rgb(114, 24, 111) 0 -20px 500px 50px;
        /* background-color: rgb(114, 24, 111); */

    }

    100% {
        box-shadow: #6e38cd 0 -5px 500px 100px;
        /* background-color: #6e38cd; */

    }
}

.recomendacao {
    display: flex;
    justify-content: space-evenly;
    width: 800px;

}

#indicar {
    position: absolute;
    left: 0px;
    bottom: -120px;
    border-radius:70px 10px 50px 10px;
    height: 120px;
    /* animation: mudarCorRecomendacao 13s infinite; */
    box-shadow: #ec465c77 10px 10px 5px 3px;
    padding: 20px;
    background-color: #ec465c;
    border: 2px solid black;
    transition: 5s;
}
#indicar:hover{
    right: 500px ;
}

.texto {
    height: 300px;
}


.footer{
    height:240px ;
    width: 100%;
    background-image: linear-gradient(to bottom,  #1b0b39 3%,#5b3c94 80%);
    border-top: 2px solid black;
    justify-content: space-evenly;
    display: flex;
    

}
.redesFooter{
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-items: center;
    justify-content: space-around;
}
.iconIMG {
    position: relative;
    width: 40px;
    left: 40px;
    
}

.contato{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.redesSociais{
    display: flex;
    justify-self: center;
    justify-items: center;
}