.containerRanking {
    width: 100%;
    display: flex;
    margin-top: 20px;
    align-items: start;
    
}

.ranking{
    width: 70%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    align-self: center;
    
   
}
.ranking .formulario {
    display: flex;
    justify-content: start;
    gap: 16px;
    width: 90%;
    
    border-radius: 35px;
    padding: 15px;
    gap: 8px;
    font-size: 22px;
    height: 100%;
}

.rankingQuiz{
    
    background-image: linear-gradient(to left, #ec465c , #6e38cd 40%);
    width: 100px;
    box-shadow:
    0 8px  8px  rgba(0, 0, 0, 0.478), 
    0 16px 16px rgba(64, 64, 64, 0.1), 
    8px 12px 12px rgba(0, 0, 0, .15), 
    8px 14px 14px rgba(255, 255, 255, 0.173);
    border-radius: 12px;
}
.textoRank{
    margin: 15px;
    width: 230px;
    display: flex;
    text-align: center;
}
.coroaImg{
    position: absolute;
    width: 150px;
    left:650px;
    transform: rotateZ(-30deg);
    top: 100px;
    background-color: #1b0b39;
    border-radius: 0 0 50% 50%;
}
.fundoRank {
    position: absolute;
    height: 57%;
    width: 53%;
    left: 0px;
    bottom: -179px;
    z-index: -9999;
    border-radius: 0 80% 0 0;
}
.rankingQuiz {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    
}

#posicaoRanking{
    display: flex;
    flex-direction: column;
    color: white;
}
.grafico{
    width: 400px;
}
.cardKpi{
    display: flex;
    height: 110px;
    width: 220px;
    padding: 12px;
    background-color: #6e38cd;
    margin: 40px;
    border-radius: 30px;
    font-size: 20px;
    align-self: center;
    align-items: center;
    border: 2px solid black;
    box-shadow:
    0 8px  8px  rgba(0, 0, 0, 0.478), 
    0 16px 16px rgba(64, 64, 64, 0.1), 
    8px 12px 12px rgba(0, 0, 0, .15), 
    8px 14px 14px rgba(255, 255, 255, 0.173);
}
.cardKpi:hover{
    transform: scale(1.2);
    box-shadow: #f3885b 0 0 10px 10px;
}
.fomularioKpi1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    
}
.fomularioKpi2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    align-items: center;
}
.kpis{
    display: flex;
    margin-left: 70px;
    margin-top: 50px;
    
}
.iconTipoUsuario{
    width: 60px;
    height: 60px;
}